.fillet-label
  border: 2px solid rgba(0, 0, 0, .5)
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-radius: 30px
  padding: 3px
  display: inline-block
  padding: 2px 10px
  