@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
@import "_variable"
@import url('https://fonts.googleapis.com/css?family=Abel|Advent+Pro|Cantata+One|Noto+Sans')


body
  font-family: 'Abel'

.content--wrapper
  .subPage
    min-height: 300px
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    &.hidden
      display: none
      
    @media screen and (max-width: $mobile-screen-width)
      min-height: 150px
      justify-content: flex-start
    .mobile.subpage--title
      display: none
      height: 75px
      background linear-gradient(-315deg, #f9fea5, #20e2d7)
      flex-direction: column
      justify-content: center
      @media screen and (max-width: $mobile-screen-width)
        display: flex
      .title--text
        font-size: 1.25 rem

    .desktop.subpage--title
      line-height: 60px
      font-size: 2.5rem
      .title--text
        height: 100%

      @media screen and (max-width: $mobile-screen-width)
        display: none
      
      .divider
        margin:  auto
        width: 50px
        height: 5px
        background-color: black
